body {
  height: 20%;
  background: #cdd3c7;
}

.midCon {
  height: 60%;
  padding: 15px;
  background: #eeeced;
}

.bottomCon {
  height: 20%;
}

* {
  margin: 0;
  padding: 0;
}

.cr {
  cursor: pointer;
}

/* Bottom part */

.bCon {
  width: 100%;
  position: fixed;
  bottom: 0;
}

.bCon>.thirdCON {
  display: flex;
  background: #161616;
  padding: 20px;
  border-radius: 40px 40px 0px 0px;
}

.fc,
.fc:focus {
  border-radius: 20px;
  padding-right: 32px;
}

.absICON {
  position: absolute;
  top: 30%;
  right: 15.2%;
}

.col-First {
  padding: 5px;
  width: 88%;
}

.col-Second {
  padding: 5px;
  width: 13%;
}

@media (max-width: 786px) {
  .absICON {
    top: 30%;
    right: 22%;
  }
}

.microphone {
  background: whitesmoke;
  border-radius: 50%;
  padding: 6px;
  width: 40px;
}

.microphone>.fas {
  color: black;
}


/* Bottom part ends */

.midCon {
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  border-radius: 40px;
}