@font-face {
  font-family: 'hipster';
  src: url('/fonts/hipster.ttf');
}

body {
  font-family: 'inter';
  height: 20%;
  background: #cdd3c7;
}

.newChatBTN:hover,
.newChatBTN:focus {
  color: #161616;
  border: 2px solid #161616;
  background: transparent;
  text-align: center;
  border-radius: 30px;
  font-size: 0.8rem;
  transition: ease-in-out 0.8s;
}

.topCon {
  padding-top: 20px;
}

.myRow {
  display: flex;
}

.historyBOX {
  color: #161616;
  border: 2px solid #161616;
  margin-left: 10px;
  width: 120px;
  padding: 8px;
  text-align: center;
  border-radius: 30px;
  font-size: 0.8rem;
}

.absICON:focus, .absICON:hover{
  color: #606060;
}

.ansText{
  color: #606060;
  font-weight: 500;
}

.historyBOX:hover,
.historyBOX:focus {
  transition: ease-in-out 0.8s;
  background: #161616;
  border-radius: 30px;
  color: rgb(228, 228, 228);
  font-size: 0.8rem;
}

.fc{
  font-size: 0.8rem;
}

.btnCon2 {
  text-align: center;
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;
  width: 100px;
}

.histories {
  overflow: auto !important;
  padding: 20px 10px;
}

.discord {
  background: #161616 !important;
  color: #ffffff !important;
}

.btnCon {
  border: 2px solid #161616;
  width: 100px;
  padding: 9px 0px;
  text-align: center;
  background: #161616;
  border-radius: 30px;
  color: rgb(228, 228, 228);
  font-size: 0.8rem;
}

.btnCon3 {
  width: 100px;
}

.discord {
  margin-right: 10px;
}

.logo {
  padding-top: 2px;
  padding-left: 15px;
  font-family: 'hipster';
  font-size: 1.5rem;
}

.histories {
  height: 80px;
  overflow: auto;
}

.midCon {
  height: 60%;
  padding: 20px 20px;
  background: #eeeced;
}

.bottomCon {
  height: 20%;
}

* {
  margin: 0;
  padding: 0;
}

.cr {
  cursor: pointer;
}

/* Bottom part */

.bCon {
  width: 100%;
  position: fixed;
  bottom: 0;
}

.bCon>.thirdCON {
  display: flex;
  background: #161616;
  padding: 20px;
  border-radius: 40px 40px 0px 0px;
}

.fc,
.fc:focus {
  border: 0 !important;
  outline: none !important;
  border-radius: 20px;
  padding-right: 32px;
}

.absICON {
  position: absolute;
  top: 30%;
  right: 15.2%;
}

.col-First {
  padding: 5px;
  width: 88%;
}

.col-Second {

  padding: 5px;
  width: 13%;
}

@media (max-width: 786px) {
  .absICON {
    top: 30%;
    right: 22%;
  }
}

.circleBorder {
  background: whitesmoke;
  border-radius: 50%;
  padding: 6px;
  width: 40px;
}

.microphone>.fas {
  color: black;
}

.absAudioCON {
  top: 24px;
  left: 19px;
  width: 90%;
  position: absolute;
  z-index: 2;
}

.recording {
  width: 100% !important;
}


/* Bottom part ends */

.midCon {
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  border-radius: 40px;
}