body {
  background: #f4f3ef;
}

#wrapper {
  padding-left: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#wrapper.toggled {
  padding-left: 250px;
}

#sidebar-wrapper {
  z-index: 1000;
  position: fixed;
  left: 250px;
  width: 0;
  height: 100%;
  margin-left: -250px;
  overflow-y: auto;
  background: #191b1f;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#sidebar-wrapper {
  box-shadow: inset -1px 0px 0px 0px #191b1f;
}

#wrapper.toggled #sidebar-wrapper {
  width: 250px;
}

/* #page-content-wrapper {
  width: 100%;
  position: absolute;
  padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
  position: absolute;
  margin-right: -250px;
} */

#page-content-wrapper {
  width: 100%;
  /* position: relative; */
  padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
  /* position: relative; */
  margin-right: -250px;
}

/* Sidebar Styles */
.sidebar-nav-tp {
  top: 0;
  position: absolute;
}

.sidebar-nav-bt {
  position: absolute;
  bottom: 10px;
}

.sidebar-nav {
  width: 250px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.sidebar-nav li {
  text-indent: 10px;
  line-height: 40px;
}

.sidebar-nav li a {
  display: block;
  text-decoration: none;
  color: #999999;
}

.sidebar-nav li a:hover {
  text-decoration: none;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav>.sidebar-brand {
  height: 65px;
  font-size: 18px;
  line-height: 60px;
}

.sidebar-nav>.sidebar-brand a {
  color: #999999;
}

.sidebar-nav>.sidebar-brand a:hover {
  color: #fff;
  background: none;
}

@media(min-width:768px) {
  #wrapper {
    padding-left: 250px;
  }

  #wrapper.toggled {
    padding-left: 0;
  }

  #sidebar-wrapper {
    width: 250px;
  }

  #wrapper.toggled #sidebar-wrapper {
    width: 0;
  }

  #page-content-wrapper {
    padding: 20px;
    /* position: relative; */
  }

  #wrapper.toggled #page-content-wrapper {
    /* position: relative; */
    margin-right: 0;
  }
}

#sidebar-wrapper li.active>a:after {
  border-right: 17px solid #f4f3ef;
  border-top: 17px solid transparent;
  border-bottom: 17px solid transparent;
  content: "";
  display: inline-block;
  position: absolute;
  right: -1px;
}

.sidebar-brand {
  border-bottom: 1px solid rgba(102, 97, 91, 0.3);
}

.sidebar-brand {
  padding: 18px 0px;
  margin: 0 20px;
}

.navbar .navbar-nav>li>a p {
  display: inline-block;
  margin: 0;
}

p {
  font-size: 16px;
  line-height: 1.4em;
}

.navbar-default {
  background-color: #f4f3ef;
  border: 0px;
  border-bottom: 1px solid #DDDDDD;
}

btn-menu {
  border-radius: 3px;
  padding: 4px 12px;
  margin: 14px 5px 5px 20px;
  font-size: 14px;
  float: left;
}

/*  */
.question {
  margin-top: 5px;
  transition: 0.2s;
}

.question:hover {
  color: #000;
  background: #e0e0e0;
  border-left: 10px solid rgb(0, 0, 0);
}

.btn,
.btn:active,
.btn:focus {
  transition: 0.5s !important;
  outline: none !important;
  border: 0 !important;
}

.mx-auto {
  margin-right: auto;
  margin-left: auto;
}

.btn:hover,
.btn:active {
  background: #DDDDDD;
}

.absBTN {
  position: absolute;
  right: 10px;
  top: 5px;
}

.absBTN2 {
  right: 52px;
}

.mic-active {
  color: #337ab7;
}

body {
  overflow: hidden;
}

#div2-1,
#div2-2 {
  width: 100%;
  height: 50%;
}

#div2-2{
  background: white;
  padding: 20px;
  text-align: center;
  margin: auto;
}

textarea {
  height: 43px !important;
  padding-right: 10rem !important;
  resize: none;
}